@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    

    <p>
       CarRental is a company dedicated to providing you with efficient low-cost car hire services . We take pride in offering reliable and flexible services with our All Inclusive Price Policy with No hidden costs or last minute surprises.

        Since the beginning we have built up excellent relationships with our customers. We know the importance of this, and believe in doing our utmost to make sure you receive the help you need before, during and after the booking.
    </p>
</main>